<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/hotelcard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <style>
        main {
            margin-top: 300px
        }
        .image-container {
            flex: 1;
            overflow: hidden;
        }
    </style>
</head>

<div th:fragment="header-authorized">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="/hotels" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="/#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="/userProfiler" class="nav-link px-2 text-white">Profile</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    <!--<a href="/login" class="btn btn-outline-light me-2">Login</a>-->
                    <!--<div th:each="el : ${user}" class="alert alert-info me-2">
                      <p>Здравствуйте</p><p th:text="${el.firstname}"></p>
                    </div>-->
                    <div class="alert alert-info me-2">
                        <!--<p th:text="${firstname}"></p>-->
                    </div>
                    <a href="/signUp" class="btn btn-warning">Sign-up</a>
                    <!--<button type="button" class="btn btn-warning">Sign-up</button>-->
                </div>
            </div>
        </div>
    </header>
</div>

<body>


<div th:each="el : ${order}">
    <div class="containercard">
        <div class="image-container">
            <img src="/img/plane.png" alt="Image">
        </div>
        <div class="content">

            <h3>Номер заказа:</h3>
            <h3 th:text="${el.orderID}"></h3>
            <h3>Дата заселения:</h3>
            <h3 th:text="${el.startDate}"></h3>
            <h3>Дата выселения:</h3>
            <h3 th:text="${el.endDate}"></h3>
            <h3 th:text="'Суммарная стоимость: ' + ${el.totalCost} + ' Р'"></h3>


        </div>
    </div>
</div>
</body>
</html>